@import "tailwindcss";


@theme {
  --breakpoint-mm: 375px;
}

@theme {
  --breakpoint-ms: 320px;
}

html {
  overflow-y: overlay;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: whitesmoke;
}

html::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 999px;
}